<html>
<head><title>Report</title></head>
<div style="font-size:24px" align='center'><b>{{address.name}}</b></div>
<div style="font-size:24px" align='center'>{{title.name}}</div><br>
<body>
<br>

<div style="position:absolute;left:1000px;top:75px;">No.TCC Job/Suspence Voucher : {{ user.job_no }}/{{user.id}} </div>
<div style="position:absolute;left:1000px;top:95px;">Dated : {{user.date}} </div>
<div style="position:absolute;left:7px;top:105px;">Director,</div>
<br></br><br/>
A sum of Rs. {{amount.unit_price }}/- ( Rupees {{ net_total_eng }} only ) has been deposited by {% for names in name %}{{ names.client__client__first_name }} 
{{ names.client__client__middle_name }} {{ names.client__client__last_name }}
{{ names.client__client__address }} {{ names.client__client__city }}({{names.client__client__company}}) by {{ names.pay}}  {{ names.check_number}},{{names.check_dd_date }} {% endfor %}on account of testing/checking of {{mat}}. This amount is kept in suspence till clearance. <br/>
<div style="position:absolute;left:7px;top:210px;">Receipt No. : {{user.job_no }}   </div>
<div style="position:absolute;left:7px;top:230px;">Dated: {{user.date}}</div>
<div align= "left">
<br/><br/><br/></br>
<table border="1" width="100%">

		<tr>
			<td>Bill Amount</td>
			<td></td><
		/tr>
		<tr>
			<td>Service Tax  @ {{ servicetaxprint }}% </td>
			<td  align="right">{{ bill.service_tax }}.00</td>
		<tr>
			<td>Education Cess  @ {{ educationtaxprint }}% </td>
			<td  align="right">{{ bill.education_tax }}.00</td>
		</tr>
		<tr>
			<td>Higher Education Cess  @ {{ highereducationtaxprint }}% </td>
			<td  align="right">{{ bill.higher_education_tax }}.00</td>
		</tr>
		<tr>
				<td>Total Rs.  ( {{ net_total_eng }} only) </td>
			<td  align="right">{{ cdftotal }} {{ bill.net_total}}.00</td>
		</tr>	
</table>
</div>
<br>
<br>
<div>
<table border="1" width="100%">
<tr>
	<td colspan="3"></TD>
</TR>
<tr>
	<TD>NAME OF EMPLOYEES</TD>
	<TD>DESIGNATION</TD>
</tr>
{% if staff  %}
    {% for part in staff %}
<tr>
	
	<TD> {{ part.name }}</TD>
	<td> {{ part.position }}</TD>
</tr>
	{% endfor %}
{% endif %}
</TABLE>
</div>
<div align="left">THE WORK HAS BEEN EXECUTED BY ABOVE PERSONS AS MENTIONED ABOVE. </div>
<br><br>
<div style="position:absolute;right:50px;top:700px;">DEAN TESTING AND CONSULTANCY</div>
<div align="left">
Account Clerk (Consultancy)</div>

</body>
</html>

