<html>
<head><title>Other Charge Report</title></head>
<body><center>{{ title.name }}<br>({{address.name}}) </center>
<br/>

<div align="right">No. : ______________<br> Date : __________2013</div>


<br/><br/>

<div>A sum of Rs. {{total}}.00 ( TA / DA staff Rs. {{tada_sum}}.00, Other charges Rs.{{other}}.00 has been deposited by:-
<br>{% for jobs in job %}
	{{jobs.client__client__first_name}} {{jobs.client__client__middle_name}} {{jobs.client__client__last_name}},
	{{jobs.client__client__address}}, {{jobs.client__client__city}}
	{% endfor %}
<br><br>
vide receipt no.  {{client.job_no}}   dated {{client.date}}  and was transferred vide letter No. __________  dated __________
<br><br>
A sum of Rs. {{total_temp}}.00 was spent  for  {{amount.field}}  testing on {{transport.test_date}} as detailed below.
<br><br>
<table border=1 >
	<tr>
		<td>T.A./D.A. of STAFF</td><td>{{tada_sum}}.00</td>
	</tr>
	<tr>
		<td>BORING CHARGES</td><td>{{suspence.boring_charge_external}}.00</td>
	</tr>
	<tr>
		<td>LABOUR CHARGES </td><td>{{suspence.labour_charge}}.00</td>
	</tr>
	<tr>
		<td>CAR / TAXI CHARGES </td><td>{{suspence.car_taxi_charge}}.00</td>
	</tr>
	<tr>
		<td>TOTAL RS.</td><td>{{total_temp}}.00</td>
	</tr>
</table>
</br>
</br>
The Transport Bill No. {{transport.bill_no}}/____  dated {{transport.date}} for Rs. {{transport.total}}.00  is attached . This sum of Rs. {{transport.total}}.00 may be  transferred from other charges to Consultancy Transport Fund. The sum of Rs. {{total_temp}}.00 spent by Dean Testing & Consultancy may Please be paid to him.
<br>
</div>
<br/><br/><br/><br/>
<div align="right">DEAN {{ sign.name}}</div>
</body>


