{% extends "base.html" %}
{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Search{% if query %} Results{% endif %}</title>
</head>
{% block content %}
<body>
  <h2 class="changeBlue">Transport Bill</h2>
  <form action="." method="GET">
    <label for="q">Job No: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search">
  </form>
{% if query %}
<h2>Results for "{{ query|escape }}":</h2>
	{% if results %}
	 	{% for transport in results %}
	<table border="2">
	<caption><center><b> Transport Bill </b> </center></caption>
		<tr><td>  Job No. : {{transport.job_no}}</tr>
		<tr><td> Bill No : {{transport.bill_no}} </tr>
		<tr><td> Date of Testing : {{transport.test_date}}</tr>
		<tr><td>Kilometer : {{transport.kilometer}}</tr>
		<tr><td><center><a href="{{ LOCAL_URL }}/automation/tcc/transportbill/?job_no={{transport.job_no}}"><b> Transport Bill</b></a></center>  
		
	</tr>
		{% endfor %}

	
	</table>
	{% else %}
      <p><b>No clients found</b></p>
{% endif %}	
{% endif %}

{% endblock %}s
